<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Translation and interpreting studies in the East and West: Advances, Convergence and Divergence</h2>
                </div>
            </div>
            <div class="section-heading">
                <h3>Aims and scope</h3>
                <div>
					<p>
					Translation and interpreting have played and will continue to play important roles in various aspects of UK-China relations and people-to-people exchanges. In addition to the translation and interpreting activities in various forms linking bilateral relations and bridging peoples’ hearts and minds, the English/Chinese stream has been established and developed in dozens of translation and interpreting programmes in the UK and in over two hundred T&I programmes in China.
Against this background the UK-China Symposium on Translation Studies is designed to be a biannual event co-organised by a UK university and a China university in order to promote exchanges among T&I scholars from both countries and to explore various aspects of Translation Studies with a focus on English/Chinese translation & interpreting and their education.
The 1st UK-China Symposium on Translation Studies will be held on the occasion of the 25th anniversary of the Centre for Translation Studies in the University of Leeds. We welcome submission of abstracts on the following sub-themes.<br>
Quality submissions might be selected for a special issue to be proposed for an international journal or a themed collection for an international publisher. If you would like your submission to be considered for selection, please submit an extended abstract of 500-800 words by 30 June 2021, which should outline clearly research questions, methodology and possible results. Please name your submission as “Name + for consideration of publishing”. 
					</p> 
				</div>
            </div>
        </div>
    </section>