<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Translation and interpreting studies in the East and West: <br>Advances, Convergence and Divergence</h2>
                </div>
            </div>
            <div class="section-heading">
                <h3>Aims and scope</h3>
                <div>
					<p>
					Translation and interpreting have played and will continue to play important roles in various aspects of UK-China relations and people-to-people exchanges. In addition to the translation and interpreting activities in various forms linking bilateral relations and bridging peoples’ hearts and minds, the English/Chinese stream has been established and developed in dozens of translation and interpreting programmes in the UK and in over two hundred T&I programmes in China.
Against this background the UK-China Symposium on Translation Studies is designed to be a regular event co-organised by a UK university and a China university in order to promote academic exchanges between UK and China and to stimulate research in Translation Studies with a focus on English/Chinese translation and interpreting as well as their education. 
The 1st UK-China Symposium on Translation Studies will be held on the occasion of the 25th anniversary of the Centre for Translation Studies in the University of Leeds. 
					</p> 
				</div>
            </div>
        </div>
    </section>