<style>
body {
  position: absolute;
  margin: 0;
  min-height: 100%;
  width: 100%;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
</style>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="copyright">© {{ 'now' | date: "%Y" }} <a href="https://ukchsymts.github.io/">UK-China Symposium on Translation Studies</a> All Rights Reserved.
				<br><a href = "mailto:ukchsymts@gmail.com?subject=UK-China%20Symposium%20on%20Translation%20Studies%20Feedback&body=Message">Contact Us</a></span>
            </div>
			<div class="col-md-12">
				<h4 id="pageview-statistics-on-clustmaps">Pageview statistics on ClustMaps</h4>
				<script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=82pHhESgKkFAGQCw5d79SvsrdK8eFQrOvwEQ25bg9Bg&cl=ffffff&w=650"></script>
			</div>
            <!-- <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a></li>
                    {% endfor %}
                </ul>
            </div> -->
        </div>
    </div>
</footer>