<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">UK-China Symposium on Translation Studies<br></div>
                <div class="intro-lead-in">2021/08/16 ~ 2021/08/17</div>
                <div class="intro-lead-in"><a href="https://universityofleeds.zoom.us/meeting/register/tZIpd-6uqzgrHd2nXB1KcSoFphEX4Zk-xZVl">Online via Zoom</a></div>
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/sponsors.html %}
	{% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}

		<!-- <h6 id="pageview-statistics-on-clustmaps">Pageview statistics on ClustMaps</h6>-->
		<script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=82pHhESgKkFAGQCw5d79SvsrdK8eFQrOvwEQ25bg9Bg&cl=ffffff&w=350"></script>
    {% include 2016_data/js.html %}
    </body>
</html>